/* common css */
img {
  display: block;
  width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #ffffff; }

.container {
  max-width: 1340px;
  margin: auto;
  padding: 0 15px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.menubar {
  display: inline-block;
  width: 100%;
  position: sticky;
  z-index: 99999;
  top: 0;
  background-color: black; }
  .menubar .menu-item {
    list-style: none;
    float: right; }
    .menubar .menu-item li {
      display: inline-block; }
      .menubar .menu-item li a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px 13px;
        transition: 0.6s ease-in; }
        .menubar .menu-item li a:hover {
          color: #fdc11b;
          text-decoration: underline; }

.hero-part {
  padding-bottom: 50px; }
  .hero-part .author-detail {
    display: flex;
    justify-content: space-between; }
    .hero-part .author-detail .hero-part-text {
      padding-top: 120px;
      padding-left: 120px; }
      .hero-part .author-detail .hero-part-text .welcome-text p {
        color: #fdc11b; }
      .hero-part .author-detail .hero-part-text .Author-text h1 {
        font-size: 70px; }
        .hero-part .author-detail .hero-part-text .Author-text h1 span {
          color: #fdc11b; }
      .hero-part .author-detail .hero-part-text .about-author h3 {
        font-size: 30px; }
      .hero-part .author-detail .hero-part-text .heropart-btn {
        padding-top: 50px; }
        .hero-part .author-detail .hero-part-text .heropart-btn a {
          padding: 15px 15px;
          border: 1px solid white;
          border-radius: 50px;
          color: white;
          text-decoration: none;
          outline: none;
          transition: 0.6s ease-in; }
          .hero-part .author-detail .hero-part-text .heropart-btn a:hover {
            background-color: #fdc11b;
            color: black; }
    .hero-part .author-detail .author-img img {
      width: 350px; }

.about-me-part {
  padding-bottom: 50px; }
  .about-me-part .aboutme {
    display: flex;
    justify-content: space-between; }
    .about-me-part .aboutme .ravi-img {
      width: 50%;
      flex: 0 0 50%;
      margin: 0 auto; }
      .about-me-part .aboutme .ravi-img img {
        width: 350px; }
    .about-me-part .aboutme .ravi-detail {
      width: 50%;
      flex: 0 0 50%;
      margin: 0 auto;
      position: relative; }
      .about-me-part .aboutme .ravi-detail h2 {
        position: absolute;
        font-size: 7vw;
        color: rgba(255, 255, 255, 0.1);
        z-index: -1;
        font-weight: 900; }
        @media (max-width: 1024) {
          .about-me-part .aboutme .ravi-detail h2 {
            display: none; } }
      .about-me-part .aboutme .ravi-detail h3 {
        font-size: 50px;
        font-weight: 700;
        padding-bottom: 40px; }
      .about-me-part .aboutme .ravi-detail .slogan-text {
        color: #999999;
        padding-bottom: 50px;
        font-size: 16px; }
      .about-me-part .aboutme .ravi-detail .about-ravi {
        display: flex; }
        .about-me-part .aboutme .ravi-detail .about-ravi .property {
          width: 130px;
          height: 30px;
          font-weight: 700; }
        .about-me-part .aboutme .ravi-detail .about-ravi .value {
          color: #999999;
          font-size: 16px; }
      .about-me-part .aboutme .ravi-detail .about-projects .total-project {
        padding-top: 30px;
        font-weight: 700;
        font-size: 25px; }
        .about-me-part .aboutme .ravi-detail .about-projects .total-project .number {
          color: #fdc11b; }
      .about-me-part .aboutme .ravi-detail .download-resume {
        padding-top: 50px; }
        .about-me-part .aboutme .ravi-detail .download-resume a {
          text-decoration: none;
          color: white;
          padding: 15px 15px;
          border: 1px solid;
          border-radius: 50px;
          outline: none;
          transition: 0.5s ease-in; }
          .about-me-part .aboutme .ravi-detail .download-resume a:hover {
            background-color: #fdc11b;
            color: black; }

.Resume-part {
  padding-bottom: 50px; }
  .Resume-part .resume-text {
    text-align: center;
    position: relative; }
    .Resume-part .resume-text h2 {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
    .Resume-part .resume-text h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 150px; }
    .Resume-part .resume-text .resume-content {
      padding-top: 30px;
      padding-bottom: 50px;
      color: #999999; }
  .Resume-part .year-progress {
    display: flex;
    justify-content: space-between; }
    .Resume-part .year-progress .year-text {
      background: rgba(255, 255, 255, 0.1);
      width: 49%;
      flex: 0 0 49%;
      padding: 30px;
      margin-bottom: 25px; }
      .Resume-part .year-progress .year-text .year {
        font-weight: 900;
        font-size: 26px;
        color: #ffbd39;
        line-height: 46px; }
      .Resume-part .year-progress .year-text .company-name {
        font-size: 26px;
        line-height: 40px; }
      .Resume-part .year-progress .year-text .role {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 30px;
        color: #999999; }
      .Resume-part .year-progress .year-text .about-roll {
        color: #999999;
        margin-top: 20px; }

.education {
  padding-bottom: 50px; }
  .education .education-heading {
    position: relative;
    text-align: center; }
    .education .education-heading h2 {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
    .education .education-heading h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 50px; }
  .education .education-table {
    padding-top: 90px; }
    .education .education-table table {
      width: 100%;
      border: 5px solid #ffbd39;
      border-collapse: collapse; }
      .education .education-table table tr th {
        text-align: left;
        border: 5px solid #ffbd39;
        border-collapse: collapse;
        padding: 10px;
        font-size: 30px; }
      .education .education-table table tr td {
        border: 5px solid #ffbd39;
        border-collapse: collapse;
        padding: 10px;
        font-size: 18px; }

.service-part .service-text {
  position: relative;
  text-align: center;
  padding-bottom: 50px; }
  .service-part .service-text h2 {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
    width: 100%; }
  .service-part .service-text h3 {
    font-size: 50px;
    font-weight: 700; }
  .service-part .service-text p {
    padding-top: 25px;
    color: #999999; }

.all-services {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 50px; }
  .all-services .list-of-service {
    width: 23%;
    flex: 0 0 23%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px; }
    .all-services .list-of-service:hover {
      background-color: black;
      border: 1px solid #ffbd39;
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.5s; }
    .all-services .list-of-service .logo-of-service img {
      width: auto;
      margin: 0 auto; }
  .all-services .text-of-service h3 {
    padding-top: 40px;
    text-align: center; }
  .all-services .text-of-service hr {
    width: 30px;
    text-align: center; }

.skill-part {
  padding-bottom: 50px; }
  .skill-part .skill-text {
    position: relative;
    text-align: center; }
    .skill-part .skill-text h2 {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
    .skill-part .skill-text h3 {
      font-size: 50px;
      font-weight: 700; }

.skill-slider {
  display: flex;
  justify-content: space-between; }
  .skill-slider .slide-to-show {
    width: 33%;
    flex: 0 0 33%;
    margin: 25px auto;
    padding: 20px 70px; }
    .skill-slider .slide-to-show h3 {
      font-size: 26px;
      color: #ffbd39;
      text-align: left; }
    .skill-slider .slide-to-show hr {
      width: 120px;
      margin-top: 20px;
      margin-left: 0; }
    .skill-slider .slide-to-show ul {
      text-align: left;
      padding: 0; }
      .skill-slider .slide-to-show ul li {
        list-style: none;
        position: relative;
        margin-bottom: 15px;
        padding-left: 45px; }
        .skill-slider .slide-to-show ul li:before {
          content: '\261E';
          position: absolute;
          left: 0;
          font-size: 30px;
          top: -11px;
          bottom: 0; }

button.slick-next.slick-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 999;
  font-size: 0;
  background-color: #ffbd39;
  border: none;
  border-radius: 50px;
  outline: none;
  height: 50px;
  width: 50px; }

button.slick-prev.slick-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 999;
  font-size: 0;
  background-color: #ffbd39;
  border: none;
  border-radius: 50px;
  outline: none;
  padding-top: 7px;
  padding-bottom: 15px;
  transform: rotate(180deg);
  height: 50px;
  width: 50px; }

button.slick-next.slick-arrow:after {
  content: '\27A4';
  font-size: 24px; }

button.slick-prev.slick-arrow:after {
  content: '\27A4';
  font-size: 24px; }

.slick-slider {
  margin-top: 150px; }

.slick-active.slick-center {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  transition: 0.5s;
  border: 1px solid #ffbd39; }

.project-part {
  padding-bottom: 50px; }
  .project-part .project-text {
    position: relative;
    text-align: center; }
    .project-part .project-text h2 {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
    .project-part .project-text h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 200px; }
  .project-part .project-detail {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px; }
    .project-part .project-detail .project-img {
      background-image: url(../Image/p1.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 49%;
      flex: 0 0 49%;
      position: relative; }
      .project-part .project-detail .project-img .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #ffbd39;
        z-index: -1;
        transition: 0.3s; }
      .project-part .project-detail .project-img .overlay-text {
        max-width: 80%;
        padding: 130px;
        margin: 0 auto;
        z-index: 1;
        opacity: 0; }
        .project-part .project-detail .project-img .overlay-text h4 {
          font-size: 30px;
          font-weight: 900; }
        .project-part .project-detail .project-img .overlay-text p {
          font-size: 16px;
          font-weight: 500;
          text-align: center; }
      .project-part .project-detail .project-img:hover .overlay {
        opacity: 0.9;
        z-index: 1;
        cursor: pointer; }
      .project-part .project-detail .project-img:hover .overlay-text {
        opacity: 0.9;
        position: absolute;
        opacity: 0.9;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0; }
    .project-part .project-detail .project-img1 {
      background-image: url(../Image/p2.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 49%;
      flex: 0 0 49%;
      position: relative; }
      .project-part .project-detail .project-img1 .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #ffbd39;
        z-index: -1;
        transition: all 0.3s ease; }
      .project-part .project-detail .project-img1 .overlay-text {
        max-width: 80%;
        padding: 130px;
        margin: 0 auto;
        z-index: 1;
        opacity: 0; }
        .project-part .project-detail .project-img1 .overlay-text h4 {
          font-size: 30px;
          font-weight: 900; }
        .project-part .project-detail .project-img1 .overlay-text p {
          font-size: 16px;
          font-weight: 500;
          text-align: center; }
      .project-part .project-detail .project-img1:hover .overlay {
        opacity: 0.9;
        z-index: 1;
        cursor: pointer; }
      .project-part .project-detail .project-img1:hover .overlay-text {
        opacity: 0.9;
        position: absolute;
        opacity: 0.9;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0; }
    .project-part .project-detail .project-img2 {
      background-image: url(../Image/p3.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 49%;
      flex: 0 0 49%;
      position: relative; }
      .project-part .project-detail .project-img2 .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #ffbd39;
        z-index: -1;
        transition: all 0.3s ease; }
      .project-part .project-detail .project-img2 .overlay-text {
        max-width: 80%;
        padding: 130px;
        margin: 0 auto;
        z-index: 1;
        opacity: 0; }
        .project-part .project-detail .project-img2 .overlay-text h4 {
          font-size: 30px;
          font-weight: 900; }
        .project-part .project-detail .project-img2 .overlay-text p {
          font-size: 16px;
          font-weight: 500;
          text-align: center; }
      .project-part .project-detail .project-img2:hover .overlay {
        opacity: 0.9;
        z-index: 1;
        cursor: pointer; }
      .project-part .project-detail .project-img2:hover .overlay-text {
        opacity: 0.9;
        position: absolute;
        opacity: 0.9;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0; }
    .project-part .project-detail .project-img3 {
      background-image: url(../Image/p4.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 49%;
      flex: 0 0 49%;
      position: relative; }
      .project-part .project-detail .project-img3 .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #ffbd39;
        z-index: -1;
        transition: all 0.3s ease; }
      .project-part .project-detail .project-img3 .overlay-text {
        max-width: 80%;
        padding: 130px;
        margin: 0 auto;
        z-index: 1;
        opacity: 0; }
        .project-part .project-detail .project-img3 .overlay-text h4 {
          font-size: 30px;
          font-weight: 900; }
        .project-part .project-detail .project-img3 .overlay-text p {
          font-size: 16px;
          font-weight: 500;
          text-align: center; }
      .project-part .project-detail .project-img3:hover .overlay {
        opacity: 0.9;
        z-index: 1;
        cursor: pointer; }
      .project-part .project-detail .project-img3:hover .overlay-text {
        opacity: 0.9;
        position: absolute;
        opacity: 0.9;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0; }

.contact-part .contact-text {
  position: relative;
  text-align: center; }
  .contact-part .contact-text h2 {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
    width: 100%; }
  .contact-part .contact-text h3 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 110px; }
.contact-part .address-detail {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 50px; }
  .contact-part .address-detail .address {
    width: 24%;
    flex: 0 0 24%;
    margin: 0 auto; }
    .contact-part .address-detail .address .address-icon {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 100px;
      height: 100px;
      width: 100px;
      margin: 0 auto; }
      .contact-part .address-detail .address .address-icon:hover {
        transform: rotate(360deg);
        transition: 0.5s; }
      .contact-part .address-detail .address .address-icon a i {
        font-size: 50px;
        color: #ffbd39;
        padding-top: 25px; }
      .contact-part .address-detail .address .address-icon a:hover {
        transform: rotate3d(); }
    .contact-part .address-detail .address .address-text h4 {
      font-size: 26px;
      text-align: center;
      font-weight: 700;
      padding-top: 50px; }
    .contact-part .address-detail .address .address-text p {
      font-size: 16px;
      text-align: center;
      padding-top: 10px;
      color: #999999; }

.footer-part .ftr-text-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }
  .footer-part .ftr-text-media .social-media {
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    justify-content: space-evenly; }
    .footer-part .ftr-text-media .social-media a i {
      font-size: 25px;
      color: #ffbd39; }
  .footer-part .ftr-text-media .ftr-note {
    width: 50%;
    flex: 0 0 50%; }
    .footer-part .ftr-text-media .ftr-note p {
      font-size: 12px;
      text-align: center; }

/*# sourceMappingURL=style.css.map */
