/* common css */
img {
  display: block;
  width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #be9b7b; }

.container {
  max-width: 1340px;
  margin: auto;
  padding: 0 15px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.menubar {
  display: inline-block;
  width: 100%;
  position: sticky;
  z-index: 99999;
  top: 0;
  background-color: #be9b7b; }
  @media (max-width: 768px) {
    .menubar {
      display: none; } }
  .menubar .logo-and-menubar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menubar .logo-and-menubar .logo-of-ravi img {
      width: 70px;
      height: 70px; }
    .menubar .logo-and-menubar .menu-item {
      list-style: none;
      float: right; }
      .menubar .logo-and-menubar .menu-item li {
        display: inline-block; }
        .menubar .logo-and-menubar .menu-item li a {
          text-decoration: none;
          color: #ffffff;
          padding: 10px 13px;
          transition: 0.3s ease-in;
          cursor: pointer; }
          @media (max-width: 768px) {
            .menubar .logo-and-menubar .menu-item li a {
              padding: 10px 7px; } }
          .menubar .logo-and-menubar .menu-item li a:hover {
            text-decoration: underline; }

.active {
  color: #4b3832 !important;
  text-decoration: underline; }

.menu {
  background: #be9b7b;
  width: 100%;
  display: none; }
  .menu .resposive-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .menu .resposive-menu a {
      text-decoration: none;
      color: #3c2f2f; }
      .menu .resposive-menu a li {
        color: #3c2f2f;
        font-size: 12px;
        letter-spacing: 2px;
        padding: 15px 0;
        text-transform: uppercase; }
        .menu .resposive-menu a li:hover {
          color: #be9b7b; }

.active-resposive-header {
  background: #3c2f2f; }

.menu-toggle {
  background: none;
  color: #333;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  display: none; }
  @media (max-width: 768px) {
    .menu-toggle {
      display: block; } }
  .menu-toggle a {
    text-decoration: none;
    color: #333; }
    .menu-toggle a i {
      color: #be9b7b;
      font-size: 50px; }

.hero-part {
  padding-bottom: 50px; }
  .hero-part .author-detail {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 425px) {
      .hero-part .author-detail {
        flex-direction: column-reverse; } }
    .hero-part .author-detail .hero-part-text {
      padding-top: 200px;
      padding-left: 150px; }
      @media (max-width: 768px) {
        .hero-part .author-detail .hero-part-text {
          padding-top: 150px;
          padding-left: 100px; } }
      @media (max-width: 650px) {
        .hero-part .author-detail .hero-part-text {
          padding-top: 120px; } }
      @media (max-width: 550px) {
        .hero-part .author-detail .hero-part-text {
          padding-top: 70px;
          padding-left: 50px; } }
      @media (max-width: 425px) {
        .hero-part .author-detail .hero-part-text {
          padding-top: 20px;
          padding-left: 100px; } }
      @media (max-width: 375px) {
        .hero-part .author-detail .hero-part-text {
          padding-left: 60px; } }
      @media (max-width: 320px) {
        .hero-part .author-detail .hero-part-text {
          padding-left: 50px; } }
      .hero-part .author-detail .hero-part-text .welcome-text p {
        color: #3c2f2f; }
      .hero-part .author-detail .hero-part-text .Author-text h1 {
        font-size: 70px; }
        @media (max-width: 991px) {
          .hero-part .author-detail .hero-part-text .Author-text h1 {
            font-size: 64px; } }
        @media (max-width: 768px) {
          .hero-part .author-detail .hero-part-text .Author-text h1 {
            font-size: 56px; } }
        @media (max-width: 650px) {
          .hero-part .author-detail .hero-part-text .Author-text h1 {
            font-size: 40px; } }
        @media (max-width: 550px) {
          .hero-part .author-detail .hero-part-text .Author-text h1 {
            font-size: 25px; } }
        .hero-part .author-detail .hero-part-text .Author-text h1 span {
          color: #3c2f2f; }
      .hero-part .author-detail .hero-part-text .about-author h3 {
        font-size: 30px; }
        @media (max-width: 991px) {
          .hero-part .author-detail .hero-part-text .about-author h3 {
            font-size: 25px; } }
        @media (max-width: 650px) {
          .hero-part .author-detail .hero-part-text .about-author h3 {
            font-size: 18px; } }
        @media (max-width: 550px) {
          .hero-part .author-detail .hero-part-text .about-author h3 {
            font-size: 14px; } }
      .hero-part .author-detail .hero-part-text .heropart-btn {
        padding-top: 50px; }
        @media (max-width: 991px) {
          .hero-part .author-detail .hero-part-text .heropart-btn {
            padding-top: 40px; } }
        @media (max-width: 650px) {
          .hero-part .author-detail .hero-part-text .heropart-btn {
            padding-top: 30px; } }
        @media (max-width: 650px) {
          .hero-part .author-detail .hero-part-text .heropart-btn {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            width: 100px; } }
        @media (max-width: 425px) {
          .hero-part .author-detail .hero-part-text .heropart-btn {
            flex-direction: row;
            width: 200px; } }
        .hero-part .author-detail .hero-part-text .heropart-btn a {
          padding: 15px 15px;
          border: 1px solid #be9b7b;
          border-radius: 50px;
          color: #be9b7b;
          text-decoration: none;
          outline: none;
          transition: 0.6s ease-in; }
          @media (max-width: 650px) {
            .hero-part .author-detail .hero-part-text .heropart-btn a {
              padding: 10px 10px;
              margin-top: 10px;
              text-align: center; } }
          @media (max-width: 550px) {
            .hero-part .author-detail .hero-part-text .heropart-btn a {
              padding: 5px 0;
              width: 95px;
              margin-top: 10px;
              text-align: center; } }
          @media (max-width: 425px) {
            .hero-part .author-detail .hero-part-text .heropart-btn a {
              margin-right: 10px; } }
          .hero-part .author-detail .hero-part-text .heropart-btn a:hover {
            background-color: #4b3832;
            color: #be9b7b; }
    .hero-part .author-detail .author-img img {
      width: 350px; }
      @media (max-width: 991px) {
        .hero-part .author-detail .author-img img {
          width: 300px; } }
      @media (max-width: 768px) {
        .hero-part .author-detail .author-img img {
          width: 250px; } }
      @media (max-width: 650px) {
        .hero-part .author-detail .author-img img {
          width: 200px; } }
      @media (max-width: 550px) {
        .hero-part .author-detail .author-img img {
          width: 150px; } }
      @media (max-width: 425px) {
        .hero-part .author-detail .author-img img {
          margin: 0 auto; } }

.about-me-part {
  padding-bottom: 50px; }
  .about-me-part .aboutme {
    display: flex;
    justify-content: space-between; }
    .about-me-part .aboutme .ravi-img {
      width: 50%;
      flex: 0 0 50%;
      margin: 0 auto; }
      @media (max-width: 425px) {
        .about-me-part .aboutme .ravi-img {
          display: none; } }
      .about-me-part .aboutme .ravi-img img {
        width: 350px; }
        @media (max-width: 991px) {
          .about-me-part .aboutme .ravi-img img {
            width: 300px; } }
        @media (max-width: 768px) {
          .about-me-part .aboutme .ravi-img img {
            width: 250px; } }
        @media (max-width: 650px) {
          .about-me-part .aboutme .ravi-img img {
            width: 200px; } }
        @media (max-width: 550px) {
          .about-me-part .aboutme .ravi-img img {
            width: 150px; } }
    .about-me-part .aboutme .ravi-detail {
      width: 50%;
      flex: 0 0 50%;
      margin: 0 auto;
      position: relative; }
      @media (max-width: 425px) {
        .about-me-part .aboutme .ravi-detail {
          width: 100%;
          flex: 0 0 100%;
          margin: 0 auto;
          position: relative;
          align-items: center; } }
      .about-me-part .aboutme .ravi-detail h2 {
        position: absolute;
        font-size: 7vw;
        color: rgba(190, 155, 123, 0.1);
        z-index: -1;
        font-weight: 900;
        padding-top: 120px; }
        @media (max-width: 768px) {
          .about-me-part .aboutme .ravi-detail h2 {
            display: none; } }
      .about-me-part .aboutme .ravi-detail h3 {
        font-size: 50px;
        font-weight: 700;
        padding-bottom: 170px;
        padding-top: 120px;
        padding-left: 100px; }
        @media (max-width: 1440px) {
          .about-me-part .aboutme .ravi-detail h3 {
            padding-left: 50px; } }
        @media (max-width: 1024px) {
          .about-me-part .aboutme .ravi-detail h3 {
            padding-left: 10px; } }
        @media (max-width: 768px) {
          .about-me-part .aboutme .ravi-detail h3 {
            padding-bottom: 40px; } }
        @media (max-width: 650px) {
          .about-me-part .aboutme .ravi-detail h3 {
            font-size: 40px;
            padding: 40px 0; } }
        @media (max-width: 550px) {
          .about-me-part .aboutme .ravi-detail h3 {
            font-size: 36px;
            padding: 20px 0; } }
        @media (max-width: 425px) {
          .about-me-part .aboutme .ravi-detail h3 {
            text-align: center; } }
        @media (max-width: 320px) {
          .about-me-part .aboutme .ravi-detail h3 {
            font-size: 44px; } }
      .about-me-part .aboutme .ravi-detail .slogan-text {
        color: #999999;
        padding-bottom: 50px;
        font-size: 16px; }
      .about-me-part .aboutme .ravi-detail .about-ravi {
        display: flex; }
        @media (max-width: 425px) {
          .about-me-part .aboutme .ravi-detail .about-ravi {
            text-align: left;
            padding-left: 50px; } }
        .about-me-part .aboutme .ravi-detail .about-ravi .property {
          width: 130px;
          height: 30px;
          font-weight: 700; }
          @media (max-width: 550px) {
            .about-me-part .aboutme .ravi-detail .about-ravi .property {
              width: 110px;
              height: 25px; } }
        .about-me-part .aboutme .ravi-detail .about-ravi .value {
          color: #3c2f2f;
          font-size: 16px; }
      .about-me-part .aboutme .ravi-detail .about-projects .total-project {
        padding-top: 25px;
        font-weight: 700;
        font-size: 18px; }
        @media (max-width: 550px) {
          .about-me-part .aboutme .ravi-detail .about-projects .total-project {
            padding-top: 15px; } }
        @media (max-width: 425px) {
          .about-me-part .aboutme .ravi-detail .about-projects .total-project {
            padding-left: 50px; } }
        .about-me-part .aboutme .ravi-detail .about-projects .total-project .number {
          color: #854442; }
      .about-me-part .aboutme .ravi-detail .download-resume {
        padding-top: 50px; }
        @media (max-width: 550px) {
          .about-me-part .aboutme .ravi-detail .download-resume {
            padding-top: 20px; } }
        @media (max-width: 425px) {
          .about-me-part .aboutme .ravi-detail .download-resume {
            padding-top: 40px;
            width: 100%;
            text-align: center; } }
        .about-me-part .aboutme .ravi-detail .download-resume a {
          text-decoration: none;
          color: #be9b7b;
          padding: 15px 15px;
          border: 1px solid;
          border-radius: 50px;
          outline: none;
          transition: 0.5s ease-in; }
          @media (max-width: 650px) {
            .about-me-part .aboutme .ravi-detail .download-resume a {
              padding: 10px 10px; } }
          .about-me-part .aboutme .ravi-detail .download-resume a:hover {
            background-color: #4b3832;
            color: #be9b7b; }

.resume-part {
  padding-bottom: 50px; }
  .resume-part .experiance-text {
    position: relative;
    text-align: center; }
    .resume-part .experiance-text h2 {
      position: absolute;
      font-size: 7vw;
      color: rgba(190, 155, 123, 0.1);
      z-index: -1;
      font-weight: 900;
      text-align: center;
      width: 100%; }
      @media (max-width: 768px) {
        .resume-part .experiance-text h2 {
          display: none; } }
    .resume-part .experiance-text h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 170px; }
      @media (max-width: 768px) {
        .resume-part .experiance-text h3 {
          padding-bottom: 50px; } }
      @media (max-width: 320px) {
        .resume-part .experiance-text h3 {
          font-size: 44px; } }
  .resume-part .year-wise-post-flex {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .resume-part .year-wise-post-flex {
        flex-direction: column; } }
    .resume-part .year-wise-post-flex .year-wise-experiace {
      display: flex;
      width: 49%;
      flex: 0 0 49%;
      border: 1px solid;
      margin: 10px;
      border-radius: 10px; }
      .resume-part .year-wise-post-flex .year-wise-experiace.active-employer {
        border: 1px solid #4b3832; }
      @media (max-width: 768px) {
        .resume-part .year-wise-post-flex .year-wise-experiace {
          width: 98%;
          flex: 0 0 98%; } }
      @media (max-width: 425px) {
        .resume-part .year-wise-post-flex .year-wise-experiace {
          margin: 0 0 10px 0; } }
      .resume-part .year-wise-post-flex .year-wise-experiace .company-logo {
        width: 25%;
        flex: 0 0 25%;
        padding: 5px; }
        @media (max-width: 425px) {
          .resume-part .year-wise-post-flex .year-wise-experiace .company-logo {
            width: 35%;
            flex: 0 0 35%; } }
        .resume-part .year-wise-post-flex .year-wise-experiace .company-logo img {
          width: 100%; }
        .resume-part .year-wise-post-flex .year-wise-experiace .company-logo .post-of-year {
          text-align: center;
          padding: 10px; }
          .resume-part .year-wise-post-flex .year-wise-experiace .company-logo .post-of-year.active-post {
            color: #4b3832; }
          @media (max-width: 425px) {
            .resume-part .year-wise-post-flex .year-wise-experiace .company-logo .post-of-year {
              padding: 0; } }
      .resume-part .year-wise-post-flex .year-wise-experiace .work-detail-text {
        width: 75%;
        flex: 0 0 75%; }
        @media (max-width: 425px) {
          .resume-part .year-wise-post-flex .year-wise-experiace .work-detail-text {
            width: 65%;
            flex: 0 0 65%; } }
        .resume-part .year-wise-post-flex .year-wise-experiace .work-detail-text .working-period {
          text-align: left;
          font-weight: 600;
          font-size: 30px;
          padding: 20px 10px 10px 10px; }
          .resume-part .year-wise-post-flex .year-wise-experiace .work-detail-text .working-period.active-year {
            color: #4b3832; }
          @media (max-width: 425px) {
            .resume-part .year-wise-post-flex .year-wise-experiace .work-detail-text .working-period {
              font-size: 18px; } }
        .resume-part .year-wise-post-flex .year-wise-experiace .work-detail-text p {
          padding: 20px 10px 0 10px; }
          .resume-part .year-wise-post-flex .year-wise-experiace .work-detail-text p.about-active-company {
            color: #4b3832; }
          @media (max-width: 425px) {
            .resume-part .year-wise-post-flex .year-wise-experiace .work-detail-text p {
              padding: 10px 10px 0 10px; } }

.achievements-part {
  position: relative;
  text-align: center; }
  .achievements-part .achievement-text h2 {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(190, 155, 123, 0.1);
    z-index: -1;
    font-weight: 900;
    width: 100%; }
    @media (max-width: 768px) {
      .achievements-part .achievement-text h2 {
        display: none; } }
  .achievements-part .achievement-text h3 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 50px; }
    @media (max-width: 768px) {
      .achievements-part .achievement-text h3 {
        padding-bottom: 50px; } }
    @media (max-width: 320px) {
      .achievements-part .achievement-text h3 {
        font-size: 44px; } }
  .achievements-part .all-award .award-part {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 425px) {
      .achievements-part .all-award .award-part {
        flex-direction: column; } }
    .achievements-part .all-award .award-part .award-icon-text {
      padding-bottom: 50px;
      width: 25%;
      flex: 0 0 25%; }
      @media (max-width: 425px) {
        .achievements-part .all-award .award-part .award-icon-text {
          width: 100%;
          flex: 0 0 100%; } }
      .achievements-part .all-award .award-part .award-icon-text .award-icon {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        border: 1px solid #4b3832;
        margin: 0 auto;
        background-color: rgba(190, 155, 123, 0.2); }
        .achievements-part .all-award .award-part .award-icon-text .award-icon i {
          font-size: 60px;
          padding-top: 30px; }
          .achievements-part .all-award .award-part .award-icon-text .award-icon i:hover .award-name {
            transform: scale(1.1);
            cursor: pointer;
            opacity: 0.5; }
      .achievements-part .all-award .award-part .award-icon-text .award-text .year-name {
        padding: 5px; }
      .achievements-part .all-award .award-part .award-icon-text .award-text .award-name {
        padding: 5px;
        font-size: 24px;
        color: #4b3832; }
      .achievements-part .all-award .award-part .award-icon-text .award-text .univercity-name {
        padding: 5px; }

.education {
  padding-bottom: 50px; }
  .education .education-heading {
    position: relative;
    text-align: center; }
    .education .education-heading h2 {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(190, 155, 123, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
      @media (max-width: 768px) {
        .education .education-heading h2 {
          display: none; } }
    .education .education-heading h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 200px; }
      @media (max-width: 650px) {
        .education .education-heading h3 {
          font-size: 40px;
          padding-bottom: 90px; } }
      @media (max-width: 550px) {
        .education .education-heading h3 {
          padding-top: 0; } }
      @media (max-width: 320px) {
        .education .education-heading h3 {
          font-size: 44px; } }
  .education .education-table {
    overflow-x: unset; }
    @media (max-width: 550px) {
      .education .education-table {
        padding-top: 0; } }
    @media (max-width: 320px) {
      .education .education-table {
        overflow-x: auto; } }
    .education .education-table table {
      width: 100%;
      border: 5px solid #4b3832;
      border-collapse: collapse; }
      .education .education-table table tr th {
        text-align: left;
        border: 5px solid #4b3832;
        border-collapse: collapse;
        padding: 10px;
        font-size: 30px; }
        @media (max-width: 550px) {
          .education .education-table table tr th {
            font-size: 18px; } }
      .education .education-table table tr td {
        border: 5px solid #4b3832;
        border-collapse: collapse;
        padding: 10px;
        font-size: 18px; }
        @media (max-width: 550px) {
          .education .education-table table tr td {
            font-size: 14px; } }

.service-part .service-text {
  position: relative;
  text-align: center;
  padding-bottom: 50px; }
  .service-part .service-text h2 {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(190, 155, 123, 0.1);
    z-index: -1;
    font-weight: 900;
    width: 100%; }
    @media (max-width: 768px) {
      .service-part .service-text h2 {
        display: none; } }
  .service-part .service-text h3 {
    font-size: 50px;
    font-weight: 700; }
    @media (max-width: 650px) {
      .service-part .service-text h3 {
        font-size: 40px; } }
    @media (max-width: 320px) {
      .service-part .service-text h3 {
        font-size: 44px; } }
  .service-part .service-text p {
    padding-top: 25px;
    color: #4b3832; }

.all-services {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    .all-services {
      flex-direction: column;
      padding-top: 100px; } }
  @media (max-width: 550px) {
    .all-services {
      padding-top: 0; } }
  .all-services .list-of-service {
    width: 23%;
    flex: 0 0 23%;
    margin: 0 auto;
    background: rgba(190, 155, 123, 0.1); }
    @media (max-width: 768px) {
      .all-services .list-of-service {
        width: 60%;
        flex: 0 0 60%;
        margin: 10px auto; } }
    @media (max-width: 425px) {
      .all-services .list-of-service {
        width: 99%;
        flex: 0 0 99%;
        margin: 10px 0; } }
    .all-services .list-of-service:hover {
      background-color: #4b3832;
      border: 1px solid #ffbd39;
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.5s; }
    .all-services .list-of-service .logo-of-service img {
      width: auto;
      margin: 0 auto;
      padding-top: 30px; }
  .all-services .text-of-service h3 {
    padding-top: 40px;
    text-align: center; }
  .all-services .text-of-service .hr-lines {
    background-color: #4b3832;
    height: 1px;
    width: 30px;
    margin: 30px auto; }

.skill-part {
  padding-bottom: 50px; }
  .skill-part .skill-text {
    position: relative;
    text-align: center; }
    .skill-part .skill-text h2 {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 7vw;
      color: rgba(190, 155, 123, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
      @media (max-width: 768px) {
        .skill-part .skill-text h2 {
          display: none; } }
    .skill-part .skill-text h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 50px; }
      @media (max-width: 650px) {
        .skill-part .skill-text h3 {
          font-size: 40px; } }
      @media (max-width: 320px) {
        .skill-part .skill-text h3 {
          font-size: 44px; } }

.skill-slider {
  display: flex;
  justify-content: space-between; }
  .skill-slider .slide-to-show {
    width: 33%;
    flex: 0 0 33%;
    margin: 25px auto;
    padding: 20px 70px;
    outline: none; }
    @media (max-width: 991px) {
      .skill-slider .slide-to-show {
        padding: 20px 58px; } }
    .skill-slider .slide-to-show h3 {
      font-size: 26px;
      color: #4b3832;
      text-align: left; }
    .skill-slider .slide-to-show hr {
      width: 120px;
      margin-top: 20px;
      margin-left: 0;
      color: #4b3832; }
    .skill-slider .slide-to-show ul {
      text-align: left;
      padding: 0; }
      .skill-slider .slide-to-show ul li {
        list-style: none;
        position: relative;
        margin-bottom: 15px;
        padding-left: 45px; }
        .skill-slider .slide-to-show ul li:before {
          content: "\261E";
          position: absolute;
          left: 0;
          font-size: 30px;
          top: -11px;
          bottom: 0; }

button.slick-next.slick-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 999;
  font-size: 0;
  background-color: #be9b7b;
  border: none;
  border-radius: 50px;
  outline: none;
  height: 50px;
  width: 50px;
  cursor: pointer; }
  @media (max-width: 768px) {
    button.slick-next.slick-arrow {
      top: 35%; } }
  @media (max-width: 425px) {
    button.slick-next.slick-arrow {
      top: 30%; } }
  @media (max-width: 320px) {
    button.slick-next.slick-arrow {
      top: 13%; } }

button.slick-prev.slick-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 999;
  font-size: 0;
  background-color: #be9b7b;
  border: none;
  border-radius: 50px;
  outline: none;
  padding-top: 7px;
  padding-bottom: 15px;
  transform: rotate(180deg);
  height: 50px;
  width: 50px;
  cursor: pointer; }
  @media (max-width: 768px) {
    button.slick-prev.slick-arrow {
      top: 35%; } }
  @media (max-width: 425px) {
    button.slick-prev.slick-arrow {
      top: 30%; } }
  @media (max-width: 320px) {
    button.slick-prev.slick-arrow {
      top: 13%; } }

button.slick-next.slick-arrow:after {
  content: "\27A4";
  font-size: 24px;
  padding: 10px; }

button.slick-prev.slick-arrow:after {
  content: "\27A4";
  font-size: 24px;
  padding: 10px; }

.slick-slider {
  margin-top: 150px; }
  @media (max-width: 768px) {
    .slick-slider {
      margin-top: 100px; } }
  @media (max-width: 550px) {
    .slick-slider {
      margin-top: 50px; } }

@media (min-width: 769px) {
  .slick-active.slick-center {
    background-color: rgba(190, 155, 123, 0.1);
    transform: scale(1.1);
    transition: 0.5s;
    border: 1px solid #4b3832; } }
.project-part {
  padding-bottom: 50px; }
  .project-part .project-texts {
    position: relative;
    text-align: center; }
    .project-part .project-texts h2 {
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 7vw;
      color: rgba(190, 155, 123, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
      @media (max-width: 768px) {
        .project-part .project-texts h2 {
          display: none; } }
    .project-part .project-texts h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 200px; }
      @media (max-width: 650px) {
        .project-part .project-texts h3 {
          font-size: 40px;
          padding-bottom: 90px; } }
      @media (max-width: 320px) {
        .project-part .project-texts h3 {
          font-size: 44px; } }
  .project-part .project-side-by-side {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .project-part .project-side-by-side {
        flex-direction: column; } }
    .project-part .project-side-by-side .project-img-text {
      width: 50%;
      flex: 0 0 50%; }
      @media (max-width: 768px) {
        .project-part .project-side-by-side .project-img-text {
          width: 100%;
          flex: 0 0 100%; } }
      .project-part .project-side-by-side .project-img-text .project-img {
        margin: 10px;
        position: relative; }
        .project-part .project-side-by-side .project-img-text .project-img:hover {
          cursor: pointer; }
          .project-part .project-side-by-side .project-img-text .project-img:hover .overlay-text,
          .project-part .project-side-by-side .project-img-text .project-img:hover .overlay {
            opacity: 0.9; }
        .project-part .project-side-by-side .project-img-text .project-img img {
          width: 100%;
          height: 300px; }
          @media (max-width: 768px) {
            .project-part .project-side-by-side .project-img-text .project-img img {
              height: 350px; } }
          @media (max-width: 425px) {
            .project-part .project-side-by-side .project-img-text .project-img img {
              height: 200px; } }
        .project-part .project-side-by-side .project-img-text .project-img .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          opacity: 0;
          background: #be9b7b;
          z-index: 1;
          transition: 0.5s all; }
        .project-part .project-side-by-side .project-img-text .project-img .overlay-text {
          margin: 0 auto;
          z-index: 2;
          position: absolute;
          top: 45%;
          left: 25%;
          opacity: 0;
          transition: 0.5s all;
          color: #ffffff; }
          @media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
            .project-part .project-side-by-side .project-img-text .project-img .overlay-text {
              top: 42%;
              left: 20%; } }
          @media (max-width: 550px) {
            .project-part .project-side-by-side .project-img-text .project-img .overlay-text {
              top: 40%;
              left: 20%; } }
          @media (max-width: 320px) {
            .project-part .project-side-by-side .project-img-text .project-img .overlay-text {
              top: 35%;
              left: 10%; } }
          .project-part .project-side-by-side .project-img-text .project-img .overlay-text h4 {
            font-size: 30px;
            font-weight: 900;
            text-align: center; }
            @media (max-width: 550px) {
              .project-part .project-side-by-side .project-img-text .project-img .overlay-text h4 {
                font-size: 22px; } }
          .project-part .project-side-by-side .project-img-text .project-img .overlay-text p {
            font-size: 16px;
            font-weight: 500;
            text-align: center; }

ul.slick-dots {
  display: none !important; }

.contact-part .contact-text {
  position: relative;
  text-align: center; }
  .contact-part .contact-text h2 {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 7vw;
    color: rgba(190, 155, 123, 0.1);
    z-index: -1;
    font-weight: 900;
    width: 100%; }
    @media (max-width: 768px) {
      .contact-part .contact-text h2 {
        display: none; } }
  .contact-part .contact-text h3 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 200px; }
    @media (max-width: 768px) {
      .contact-part .contact-text h3 {
        padding-bottom: 100px; } }
    @media (max-width: 650px) {
      .contact-part .contact-text h3 {
        font-size: 40px; } }
    @media (max-width: 320px) {
      .contact-part .contact-text h3 {
        font-size: 44px; } }
.contact-part .address-detail {
  padding-bottom: 50px; }
  @media (max-width: 650px) {
    .contact-part .address-detail {
      flex-direction: column; } }
  .contact-part .address-detail .address-flex {
    display: flex; }
    @media (max-width: 650px) {
      .contact-part .address-detail .address-flex {
        flex-direction: column; } }
    .contact-part .address-detail .address-flex .address {
      width: 40%;
      flex: 0 0 40%;
      margin: 0 auto;
      padding-bottom: 80px; }
      @media (max-width: 650px) {
        .contact-part .address-detail .address-flex .address {
          width: 100%;
          flex: 0 0 100%;
          margin: 0 auto;
          display: flex;
          padding-bottom: 40px; } }
      .contact-part .address-detail .address-flex .address .address-icon {
        text-align: center;
        background-color: rgba(190, 155, 123, 0.1);
        border-radius: 100px;
        height: 100px;
        width: 100px;
        margin: 0 auto; }
        @media (max-width: 650px) {
          .contact-part .address-detail .address-flex .address .address-icon {
            margin: 10px 20px; } }
        @media (max-width: 550px) {
          .contact-part .address-detail .address-flex .address .address-icon {
            border-radius: 80px;
            height: 80px;
            width: 80px; } }
        @media (max-width: 320px) {
          .contact-part .address-detail .address-flex .address .address-icon {
            margin: 10px 10px; } }
        .contact-part .address-detail .address-flex .address .address-icon:hover {
          transform: rotate(360deg);
          transition: 0.5s; }
        .contact-part .address-detail .address-flex .address .address-icon a i {
          font-size: 50px;
          color: #4b3832;
          padding-top: 25px; }
          @media (max-width: 550px) {
            .contact-part .address-detail .address-flex .address .address-icon a i {
              font-size: 35px;
              padding-top: 22px; } }
        .contact-part .address-detail .address-flex .address .address-icon a:hover {
          transform: rotate3d(); }
      .contact-part .address-detail .address-flex .address .address-text h4 {
        font-size: 26px;
        text-align: center;
        font-weight: 700;
        padding-top: 50px; }
        @media (max-width: 650px) {
          .contact-part .address-detail .address-flex .address .address-text h4 {
            font-size: 18px;
            padding-top: 35px;
            text-align: left; } }
        @media (max-width: 650px) {
          .contact-part .address-detail .address-flex .address .address-text h4 {
            padding-top: 26px; } }
      .contact-part .address-detail .address-flex .address .address-text p {
        font-size: 16px;
        text-align: center;
        padding-top: 10px;
        color: #999999; }
        @media (max-width: 650px) {
          .contact-part .address-detail .address-flex .address .address-text p {
            font-size: 14px; } }

.footer-part .ftr-hr {
  background-color: #4b3832;
  height: 1px;
  width: 100%; }
.footer-part .ftr-text-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }
  @media (max-width: 550px) {
    .footer-part .ftr-text-media {
      flex-direction: column; } }
  .footer-part .ftr-text-media .social-media {
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    justify-content: space-evenly; }
    .footer-part .ftr-text-media .social-media a i {
      font-size: 25px;
      color: #4b3832; }
  .footer-part .ftr-text-media .ftr-note {
    width: 50%;
    flex: 0 0 50%; }
    .footer-part .ftr-text-media .ftr-note p {
      font-size: 12px;
      text-align: center; }
      @media (max-width: 550px) {
        .footer-part .ftr-text-media .ftr-note p {
          padding-top: 20px; } }

/*# sourceMappingURL=style.css.map */
