/* common css */
img {
  display: block;
  width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #be9b7b; }

.container {
  max-width: 1340px;
  margin: auto;
  padding: 0 15px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.menubar {
  display: inline-block;
  width: 100%;
  position: sticky;
  z-index: 99999;
  top: 0;
  background-color: #be9b7b; }
  @media (max-width: 768px) {
    .menubar {
      display: none; } }
  .menubar .logo-and-menubar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menubar .logo-and-menubar .logo-of-ravi img {
      width: 70px;
      height: 70px; }
    .menubar .logo-and-menubar .menu-item {
      list-style: none;
      float: right; }
      .menubar .logo-and-menubar .menu-item li {
        display: inline-block; }
        .menubar .logo-and-menubar .menu-item li a {
          text-decoration: none;
          color: #ffffff;
          padding: 10px 13px;
          transition: 0.6s ease-in; }
          @media (max-width: 768px) {
            .menubar .logo-and-menubar .menu-item li a {
              padding: 10px 7px; } }
          .menubar .logo-and-menubar .menu-item li a:hover {
            color: #fdc11b;
            text-decoration: underline; }

.menu {
  background: #be9b7b;
  width: 100%;
  display: none; }
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .menu ul a {
      text-decoration: none;
      color: #3c2f2f; }
      .menu ul a li {
        color: #3c2f2f;
        font-size: 12px;
        letter-spacing: 2px;
        padding: 15px 0;
        text-transform: uppercase; }
        .menu ul a li:hover {
          background: #3c2f2f;
          color: #be9b7b; }

.menu-toggle {
  background: none;
  color: #333;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  display: none; }
  @media (max-width: 768px) {
    .menu-toggle {
      display: block; } }
  .menu-toggle a {
    text-decoration: none;
    color: #333; }
    .menu-toggle a i {
      color: #be9b7b;
      font-size: 50px; }

.hero-part {
  padding-bottom: 50px; }
  .hero-part .author-detail {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 425px) {
      .hero-part .author-detail {
        flex-direction: column-reverse; } }
    .hero-part .author-detail .hero-part-text {
      padding-top: 200px;
      padding-left: 150px; }
      @media (max-width: 768px) {
        .hero-part .author-detail .hero-part-text {
          padding-top: 150px;
          padding-left: 100px; } }
      @media (max-width: 650px) {
        .hero-part .author-detail .hero-part-text {
          padding-top: 120px; } }
      @media (max-width: 650px) {
        .hero-part .author-detail .hero-part-text {
          padding-top: 70px;
          padding-left: 50px; } }
      .hero-part .author-detail .hero-part-text .welcome-text p {
        color: #3c2f2f; }
      .hero-part .author-detail .hero-part-text .Author-text h1 {
        font-size: 70px; }
        @media (max-width: 991px) {
          .hero-part .author-detail .hero-part-text .Author-text h1 {
            font-size: 64px; } }
        @media (max-width: 768px) {
          .hero-part .author-detail .hero-part-text .Author-text h1 {
            font-size: 56px; } }
        @media (max-width: 650px) {
          .hero-part .author-detail .hero-part-text .Author-text h1 {
            font-size: 40px; } }
        @media (max-width: 550px) {
          .hero-part .author-detail .hero-part-text .Author-text h1 {
            font-size: 25px; } }
        .hero-part .author-detail .hero-part-text .Author-text h1 span {
          color: #3c2f2f; }
      .hero-part .author-detail .hero-part-text .about-author h3 {
        font-size: 30px; }
        @media (max-width: 991px) {
          .hero-part .author-detail .hero-part-text .about-author h3 {
            font-size: 25px; } }
        @media (max-width: 650px) {
          .hero-part .author-detail .hero-part-text .about-author h3 {
            font-size: 18px; } }
        @media (max-width: 550px) {
          .hero-part .author-detail .hero-part-text .about-author h3 {
            font-size: 14px; } }
      .hero-part .author-detail .hero-part-text .heropart-btn {
        padding-top: 50px; }
        @media (max-width: 991px) {
          .hero-part .author-detail .hero-part-text .heropart-btn {
            padding-top: 40px; } }
        @media (max-width: 650px) {
          .hero-part .author-detail .hero-part-text .heropart-btn {
            padding-top: 30px; } }
        @media (max-width: 650px) {
          .hero-part .author-detail .hero-part-text .heropart-btn {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            width: 100px; } }
        .hero-part .author-detail .hero-part-text .heropart-btn a {
          padding: 15px 15px;
          border: 1px solid #be9b7b;
          border-radius: 50px;
          color: #be9b7b;
          text-decoration: none;
          outline: none;
          transition: 0.6s ease-in; }
          @media (max-width: 650px) {
            .hero-part .author-detail .hero-part-text .heropart-btn a {
              padding: 10px 10px;
              margin-top: 10px;
              text-align: center; } }
          @media (max-width: 550px) {
            .hero-part .author-detail .hero-part-text .heropart-btn a {
              padding: 5px 0;
              width: 95px;
              margin-top: 10px;
              text-align: center; } }
          @media (max-width: 425px) {
            .hero-part .author-detail .hero-part-text .heropart-btn a {
              margin-right: 10px; } }
          .hero-part .author-detail .hero-part-text .heropart-btn a:hover {
            background-color: #4b3832;
            color: #be9b7b; }
    .hero-part .author-detail .author-img img {
      width: 350px; }
      @media (max-width: 991px) {
        .hero-part .author-detail .author-img img {
          width: 300px; } }
      @media (max-width: 768px) {
        .hero-part .author-detail .author-img img {
          width: 250px; } }
      @media (max-width: 650px) {
        .hero-part .author-detail .author-img img {
          width: 200px; } }
      @media (max-width: 550px) {
        .hero-part .author-detail .author-img img {
          width: 150px; } }
      @media (max-width: 425px) {
        .hero-part .author-detail .author-img img {
          margin: 0 auto; } }

.about-me-part {
  padding-bottom: 50px; }
  .about-me-part .aboutme {
    display: flex;
    justify-content: space-between; }
    .about-me-part .aboutme .ravi-img {
      width: 50%;
      flex: 0 0 50%;
      margin: 0 auto; }
      @media (max-width: 425px) {
        .about-me-part .aboutme .ravi-img {
          display: none; } }
      .about-me-part .aboutme .ravi-img img {
        width: 350px; }
        @media (max-width: 991px) {
          .about-me-part .aboutme .ravi-img img {
            width: 300px; } }
        @media (max-width: 768px) {
          .about-me-part .aboutme .ravi-img img {
            width: 250px; } }
        @media (max-width: 650px) {
          .about-me-part .aboutme .ravi-img img {
            width: 200px; } }
        @media (max-width: 550px) {
          .about-me-part .aboutme .ravi-img img {
            width: 150px; } }
    .about-me-part .aboutme .ravi-detail {
      width: 50%;
      flex: 0 0 50%;
      margin: 0 auto;
      position: relative; }
      @media (max-width: 425px) {
        .about-me-part .aboutme .ravi-detail {
          width: 100%;
          flex: 0 0 100%;
          margin: 0 auto;
          position: relative;
          align-items: center; } }
      .about-me-part .aboutme .ravi-detail h2 {
        position: absolute;
        font-size: 7vw;
        color: rgba(190, 155, 123, 0.1);
        z-index: -1;
        font-weight: 900;
        padding-top: 120px; }
        @media (max-width: 768px) {
          .about-me-part .aboutme .ravi-detail h2 {
            display: none; } }
      .about-me-part .aboutme .ravi-detail h3 {
        font-size: 50px;
        font-weight: 700;
        padding-bottom: 150px;
        padding-top: 120px;
        padding-left: 100px; }
        @media (max-width: 1440px) {
          .about-me-part .aboutme .ravi-detail h3 {
            padding-left: 50px; } }
        @media (max-width: 1024px) {
          .about-me-part .aboutme .ravi-detail h3 {
            padding-left: 10px; } }
        @media (max-width: 768px) {
          .about-me-part .aboutme .ravi-detail h3 {
            padding-bottom: 40px; } }
        @media (max-width: 650px) {
          .about-me-part .aboutme .ravi-detail h3 {
            font-size: 40px;
            padding: 40px 0; } }
        @media (max-width: 550px) {
          .about-me-part .aboutme .ravi-detail h3 {
            font-size: 36px;
            padding: 20px 0; } }
        @media (max-width: 425px) {
          .about-me-part .aboutme .ravi-detail h3 {
            text-align: center; } }
      .about-me-part .aboutme .ravi-detail .slogan-text {
        color: #999999;
        padding-bottom: 50px;
        font-size: 16px; }
      .about-me-part .aboutme .ravi-detail .about-ravi {
        display: flex; }
        @media (max-width: 425px) {
          .about-me-part .aboutme .ravi-detail .about-ravi {
            text-align: left;
            padding-left: 50px; } }
        .about-me-part .aboutme .ravi-detail .about-ravi .property {
          width: 130px;
          height: 30px;
          font-weight: 700; }
          @media (max-width: 550px) {
            .about-me-part .aboutme .ravi-detail .about-ravi .property {
              width: 110px;
              height: 25px; } }
        .about-me-part .aboutme .ravi-detail .about-ravi .value {
          color: #3c2f2f;
          font-size: 16px; }
      .about-me-part .aboutme .ravi-detail .about-projects .total-project {
        padding-top: 25px;
        font-weight: 700;
        font-size: 18px; }
        @media (max-width: 550px) {
          .about-me-part .aboutme .ravi-detail .about-projects .total-project {
            padding-top: 15px; } }
        @media (max-width: 425px) {
          .about-me-part .aboutme .ravi-detail .about-projects .total-project {
            padding-left: 50px; } }
        .about-me-part .aboutme .ravi-detail .about-projects .total-project .number {
          color: #854442; }
      .about-me-part .aboutme .ravi-detail .download-resume {
        padding-top: 50px; }
        @media (max-width: 550px) {
          .about-me-part .aboutme .ravi-detail .download-resume {
            padding-top: 20px; } }
        @media (max-width: 425px) {
          .about-me-part .aboutme .ravi-detail .download-resume {
            padding-top: 40px;
            width: 100%;
            text-align: center; } }
        .about-me-part .aboutme .ravi-detail .download-resume a {
          text-decoration: none;
          color: #be9b7b;
          padding: 15px 15px;
          border: 1px solid;
          border-radius: 50px;
          outline: none;
          transition: 0.5s ease-in; }
          @media (max-width: 650px) {
            .about-me-part .aboutme .ravi-detail .download-resume a {
              padding: 10px 10px; } }
          .about-me-part .aboutme .ravi-detail .download-resume a:hover {
            background-color: #4b3832;
            color: #be9b7b; }

.resume-part {
  padding-bottom: 100px; }
  .resume-part .resume-text {
    text-align: center;
    position: relative; }
    .resume-part .resume-text h2 {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(190, 155, 123, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
      @media (max-width: 768px) {
        .resume-part .resume-text h2 {
          display: none; } }
    .resume-part .resume-text h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 200px; }
      @media (max-width: 768px) {
        .resume-part .resume-text h3 {
          padding-bottom: 0; } }
      @media (max-width: 650px) {
        .resume-part .resume-text h3 {
          font-size: 40px; } }
  @media (max-width: 991px) {
    .resume-part .year-for-flex {
      display: flex;
      justify-content: space-around; } }
  .resume-part .year-for-flex .year-wise-post {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px; }
    @media (max-width: 991px) {
      .resume-part .year-for-flex .year-wise-post {
        margin-left: 0;
        width: 24%;
        flex: 0 0 24%;
        flex-direction: column; } }
    .resume-part .year-for-flex .year-wise-post .year-button-outer {
      position: relative;
      height: 200px;
      width: 200px;
      border: 1px solid #4b3832;
      border-radius: 200px;
      outline: none;
      background-color: rgba(190, 155, 123, 0.1); }
      @media (max-width: 1110px) {
        .resume-part .year-for-flex .year-wise-post .year-button-outer {
          position: relative;
          height: 150px;
          width: 150px;
          border-radius: 150px; } }
      .resume-part .year-for-flex .year-wise-post .year-button-outer .year-button {
        position: absolute;
        height: 130px;
        width: 130px;
        border: 3px solid #4b3832;
        border-radius: 130px;
        outline: none;
        left: 33px;
        top: 33px;
        background-image: linear-gradient(to right bottom, #80655c, #725951, #654e46, #58433c, #4b3832); }
        @media (max-width: 1110px) {
          .resume-part .year-for-flex .year-wise-post .year-button-outer .year-button {
            position: absolute;
            height: 110px;
            width: 110px;
            border-radius: 110px;
            left: 19px;
            top: 19px; } }
        .resume-part .year-for-flex .year-wise-post .year-button-outer .year-button:hover {
          cursor: pointer;
          background-image: linear-gradient(to left top, #80655c, #725951, #654e46, #58433c, #4b3832); }
        .resume-part .year-for-flex .year-wise-post .year-button-outer .year-button p {
          position: absolute;
          top: 30px;
          left: 22px;
          text-align: center;
          font-weight: 900;
          font-size: 16px; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post .year-button-outer .year-button p {
              font-size: 14px; } }
          @media (max-width: 1024px) {
            .resume-part .year-for-flex .year-wise-post .year-button-outer .year-button p {
              top: 25px;
              left: 16px; } }
          @media (max-width: 768px) {
            .resume-part .year-for-flex .year-wise-post .year-button-outer .year-button p {
              top: 27px;
              left: 18px; } }
    .resume-part .year-for-flex .year-wise-post .animation-resume {
      display: flex;
      align-items: center; }
      @media (max-width: 991px) {
        .resume-part .year-for-flex .year-wise-post .animation-resume {
          flex-direction: column; } }
      .resume-part .year-for-flex .year-wise-post .animation-resume .right-arrow i {
        font-size: 60px;
        padding: 0 20px;
        color: #be9b7b; }
        @media (max-width: 1110px) {
          .resume-part .year-for-flex .year-wise-post .animation-resume .right-arrow i {
            font-size: 40px;
            padding: 0 10px; } }
        @media (max-width: 991px) {
          .resume-part .year-for-flex .year-wise-post .animation-resume .right-arrow i {
            padding: 15px;
            transform: rotate(90deg); } }
      .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company {
        border: 2px solid #4b3832;
        border-radius: 20px;
        outline: none;
        display: flex;
        align-items: center; }
        @media (max-width: 991px) {
          .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company {
            flex-direction: column; } }
        @media (max-width: 550px) {
          .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company {
            width: 80%;
            flex: 0 0 80%; } }
        .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .company-detail-yearwise {
          padding: 20px 13px;
          width: 40%;
          flex: 0 0 40%;
          margin: 0 auto; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .company-detail-yearwise {
              width: 38%;
              flex: 0 0 38%; } }
          @media (max-width: 991px) {
            .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .company-detail-yearwise {
              width: 100%;
              flex: 0 0 100%; } }
          .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .company-detail-yearwise img {
            background-color: rgba(190, 155, 123, 0.1); }
            @media (max-width: 1110px) {
              .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .company-detail-yearwise img {
                height: 100px;
                width: 140px; } }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .company-detail-yearwise img {
                width: 100%;
                height: auto; } }
        .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .logo-of-company {
          width: 60%;
          flex: 0 0 60%;
          margin: 0 auto; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .logo-of-company {
              width: 62%;
              flex: 0 0 62%; } }
          @media (max-width: 991px) {
            .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .logo-of-company {
              width: 100%;
              flex: 0 0 100%; } }
          .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .logo-of-company h4 {
            font-size: 18px;
            padding: 10px 20px;
            text-align: center; }
            @media (max-width: 1110px) {
              .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .logo-of-company h4 {
                text-align: left; } }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .logo-of-company h4 {
                font-size: 16px;
                padding: 10px; } }
          .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .logo-of-company p {
            padding: 20px;
            color: #4b3832; }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post .animation-resume .detail-of-company .logo-of-company p {
                padding: 10px; } }
  .resume-part .year-for-flex .year-wise-post2 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px; }
    @media (max-width: 991px) {
      .resume-part .year-for-flex .year-wise-post2 {
        margin-left: 0;
        width: 24%;
        flex: 0 0 24%;
        flex-direction: column; } }
    .resume-part .year-for-flex .year-wise-post2 .year-button-outer {
      position: relative;
      height: 200px;
      width: 200px;
      border: 1px solid #4b3832;
      border-radius: 200px;
      outline: none;
      background-color: rgba(190, 155, 123, 0.1); }
      @media (max-width: 1110px) {
        .resume-part .year-for-flex .year-wise-post2 .year-button-outer {
          position: relative;
          height: 150px;
          width: 150px;
          border-radius: 150px; } }
      .resume-part .year-for-flex .year-wise-post2 .year-button-outer .year-button {
        position: absolute;
        height: 130px;
        width: 130px;
        border: 3px solid #4b3832;
        border-radius: 130px;
        outline: none;
        left: 33px;
        top: 33px;
        background-image: linear-gradient(to right bottom, #80655c, #725951, #654e46, #58433c, #4b3832); }
        @media (max-width: 1110px) {
          .resume-part .year-for-flex .year-wise-post2 .year-button-outer .year-button {
            position: absolute;
            height: 110px;
            width: 110px;
            border-radius: 110px;
            left: 19px;
            top: 19px; } }
        .resume-part .year-for-flex .year-wise-post2 .year-button-outer .year-button:hover {
          cursor: pointer;
          background-image: linear-gradient(to left top, #80655c, #725951, #654e46, #58433c, #4b3832); }
        .resume-part .year-for-flex .year-wise-post2 .year-button-outer .year-button p {
          position: absolute;
          top: 30px;
          left: 22px;
          text-align: center;
          font-weight: 900;
          font-size: 16px; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post2 .year-button-outer .year-button p {
              font-size: 14px; } }
          @media (max-width: 1024px) {
            .resume-part .year-for-flex .year-wise-post2 .year-button-outer .year-button p {
              top: 25px;
              left: 16px; } }
          @media (max-width: 768px) {
            .resume-part .year-for-flex .year-wise-post2 .year-button-outer .year-button p {
              top: 27px;
              left: 18px; } }
    .resume-part .year-for-flex .year-wise-post2 .animation-resume {
      display: flex;
      align-items: center; }
      @media (max-width: 991px) {
        .resume-part .year-for-flex .year-wise-post2 .animation-resume {
          flex-direction: column; } }
      .resume-part .year-for-flex .year-wise-post2 .animation-resume .right-arrow i {
        font-size: 60px;
        padding: 0 20px;
        color: #be9b7b; }
        @media (max-width: 1110px) {
          .resume-part .year-for-flex .year-wise-post2 .animation-resume .right-arrow i {
            font-size: 40px;
            padding: 0 10px; } }
        @media (max-width: 991px) {
          .resume-part .year-for-flex .year-wise-post2 .animation-resume .right-arrow i {
            padding: 15px;
            transform: rotate(90deg); } }
      .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company {
        border: 2px solid #4b3832;
        border-radius: 20px;
        outline: none;
        display: flex;
        align-items: center; }
        @media (max-width: 991px) {
          .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company {
            flex-direction: column; } }
        @media (max-width: 550px) {
          .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company {
            width: 80%;
            flex: 0 0 80%; } }
        .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .company-detail-yearwise {
          padding: 20px 13px;
          width: 40%;
          flex: 0 0 40%;
          margin: 0 auto; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .company-detail-yearwise {
              width: 38%;
              flex: 0 0 38%; } }
          @media (max-width: 991px) {
            .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .company-detail-yearwise {
              width: 100%;
              flex: 0 0 100%; } }
          .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .company-detail-yearwise img {
            background-color: rgba(190, 155, 123, 0.1); }
            @media (max-width: 1110px) {
              .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .company-detail-yearwise img {
                height: 100px;
                width: 140px; } }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .company-detail-yearwise img {
                width: 100%;
                height: auto; } }
        .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .logo-of-company {
          width: 60%;
          flex: 0 0 60%;
          margin: 0 auto; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .logo-of-company {
              width: 62%;
              flex: 0 0 62%; } }
          @media (max-width: 991px) {
            .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .logo-of-company {
              width: 100%;
              flex: 0 0 100%; } }
          .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .logo-of-company h4 {
            font-size: 18px;
            padding: 10px 20px;
            text-align: center; }
            @media (max-width: 1110px) {
              .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .logo-of-company h4 {
                text-align: left; } }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .logo-of-company h4 {
                padding: 10px;
                font-size: 16px; } }
          .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .logo-of-company p {
            padding: 20px;
            color: #4b3832; }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post2 .animation-resume .detail-of-company .logo-of-company p {
                padding: 10px; } }
  .resume-part .year-for-flex .year-wise-post3 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px; }
    @media (max-width: 991px) {
      .resume-part .year-for-flex .year-wise-post3 {
        margin-left: 0;
        width: 24%;
        flex: 0 0 24%;
        flex-direction: column; } }
    .resume-part .year-for-flex .year-wise-post3 .year-button-outer {
      position: relative;
      height: 200px;
      width: 200px;
      border: 1px solid #4b3832;
      background-color: rgba(190, 155, 123, 0.1);
      border-radius: 200px;
      outline: none; }
      @media (max-width: 1110px) {
        .resume-part .year-for-flex .year-wise-post3 .year-button-outer {
          position: relative;
          height: 150px;
          width: 150px;
          border-radius: 150px; } }
      .resume-part .year-for-flex .year-wise-post3 .year-button-outer .year-button {
        position: absolute;
        height: 130px;
        width: 130px;
        border-radius: 130px;
        outline: none;
        left: 33px;
        top: 33px;
        border: 3px solid #4b3832;
        background-image: linear-gradient(to right bottom, #80655c, #725951, #654e46, #58433c, #4b3832); }
        @media (max-width: 1110px) {
          .resume-part .year-for-flex .year-wise-post3 .year-button-outer .year-button {
            position: absolute;
            height: 110px;
            width: 110px;
            border-radius: 110px;
            left: 19px;
            top: 19px; } }
        .resume-part .year-for-flex .year-wise-post3 .year-button-outer .year-button:hover {
          cursor: pointer;
          background-image: linear-gradient(to left top, #80655c, #725951, #654e46, #58433c, #4b3832); }
        .resume-part .year-for-flex .year-wise-post3 .year-button-outer .year-button p {
          position: absolute;
          top: 30px;
          left: 22px;
          text-align: center;
          font-weight: 900;
          font-size: 16px; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post3 .year-button-outer .year-button p {
              font-size: 14px; } }
          @media (max-width: 1024px) {
            .resume-part .year-for-flex .year-wise-post3 .year-button-outer .year-button p {
              top: 25px;
              left: 16px; } }
          @media (max-width: 768px) {
            .resume-part .year-for-flex .year-wise-post3 .year-button-outer .year-button p {
              top: 27px;
              left: 18px; } }
    .resume-part .year-for-flex .year-wise-post3 .animation-resume {
      display: flex;
      align-items: center; }
      @media (max-width: 991px) {
        .resume-part .year-for-flex .year-wise-post3 .animation-resume {
          flex-direction: column; } }
      .resume-part .year-for-flex .year-wise-post3 .animation-resume .right-arrow i {
        font-size: 60px;
        padding: 0 20px;
        color: #be9b7b; }
        @media (max-width: 1110px) {
          .resume-part .year-for-flex .year-wise-post3 .animation-resume .right-arrow i {
            font-size: 40px;
            padding: 0 10px; } }
        @media (max-width: 991px) {
          .resume-part .year-for-flex .year-wise-post3 .animation-resume .right-arrow i {
            padding: 15px;
            transform: rotate(90deg); } }
      .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company {
        border: 2px solid #4b3832;
        border-radius: 20px;
        outline: none;
        display: flex;
        align-items: center; }
        @media (max-width: 991px) {
          .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company {
            flex-direction: column; } }
        @media (max-width: 550px) {
          .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company {
            width: 80%;
            flex: 0 0 80%; } }
        .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .company-detail-yearwise {
          padding: 20px 13px;
          width: 40%;
          flex: 0 0 40%;
          margin: 0 auto; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .company-detail-yearwise {
              width: 38%;
              flex: 0 0 38%; } }
          @media (max-width: 991px) {
            .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .company-detail-yearwise {
              width: 100%;
              flex: 0 0 100%; } }
          .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .company-detail-yearwise img {
            background-color: rgba(190, 155, 123, 0.1); }
            @media (max-width: 1110px) {
              .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .company-detail-yearwise img {
                height: 100px;
                width: 140px; } }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .company-detail-yearwise img {
                width: 100%;
                height: auto; } }
        .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .logo-of-company {
          width: 60%;
          flex: 0 0 60%;
          margin: 0 auto; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .logo-of-company {
              width: 62%;
              flex: 0 0 62%; } }
          @media (max-width: 991px) {
            .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .logo-of-company {
              width: 100%;
              flex: 0 0 100%; } }
          .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .logo-of-company h4 {
            font-size: 18px;
            padding: 10px 20px;
            text-align: center; }
            @media (max-width: 1110px) {
              .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .logo-of-company h4 {
                text-align: left; } }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .logo-of-company h4 {
                padding: 10px;
                font-size: 16px; } }
          .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .logo-of-company p {
            padding: 20px;
            color: #4b3832; }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post3 .animation-resume .detail-of-company .logo-of-company p {
                padding: 10px; } }
  .resume-part .year-for-flex .year-wise-post4 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px; }
    @media (max-width: 991px) {
      .resume-part .year-for-flex .year-wise-post4 {
        margin-left: 0;
        width: 24%;
        flex: 0 0 24%;
        flex-direction: column; } }
    .resume-part .year-for-flex .year-wise-post4 .year-button-outer {
      position: relative;
      height: 200px;
      width: 200px;
      border-radius: 200px;
      outline: none;
      border: 1px solid #4b3832;
      background-color: rgba(190, 155, 123, 0.1); }
      @media (max-width: 1110px) {
        .resume-part .year-for-flex .year-wise-post4 .year-button-outer {
          position: relative;
          height: 150px;
          width: 150px;
          border-radius: 150px; } }
      .resume-part .year-for-flex .year-wise-post4 .year-button-outer .year-button {
        position: absolute;
        height: 130px;
        width: 130px;
        border-radius: 130px;
        outline: none;
        left: 33px;
        top: 33px;
        border: 3px solid #4b3832;
        background-image: linear-gradient(to right bottom, #80655c, #725951, #654e46, #58433c, #4b3832); }
        @media (max-width: 1110px) {
          .resume-part .year-for-flex .year-wise-post4 .year-button-outer .year-button {
            position: absolute;
            height: 110px;
            width: 110px;
            border-radius: 110px;
            left: 19px;
            top: 19px; } }
        .resume-part .year-for-flex .year-wise-post4 .year-button-outer .year-button:hover {
          cursor: pointer;
          background-image: linear-gradient(to left top, #80655c, #725951, #654e46, #58433c, #4b3832); }
        .resume-part .year-for-flex .year-wise-post4 .year-button-outer .year-button p {
          position: absolute;
          top: 30px;
          left: 22px;
          text-align: center;
          font-weight: 900;
          font-size: 16px; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post4 .year-button-outer .year-button p {
              font-size: 14px;
              top: 25px;
              left: 16px; } }
          @media (max-width: 1024px) {
            .resume-part .year-for-flex .year-wise-post4 .year-button-outer .year-button p {
              top: 25px;
              left: 16px; } }
          @media (max-width: 768px) {
            .resume-part .year-for-flex .year-wise-post4 .year-button-outer .year-button p {
              top: 27px;
              left: 18px; } }
    .resume-part .year-for-flex .year-wise-post4 .animation-resume {
      display: flex;
      align-items: center; }
      @media (max-width: 991px) {
        .resume-part .year-for-flex .year-wise-post4 .animation-resume {
          flex-direction: column; } }
      .resume-part .year-for-flex .year-wise-post4 .animation-resume .right-arrow i {
        font-size: 60px;
        padding: 0 20px;
        color: #be9b7b; }
        @media (max-width: 1110px) {
          .resume-part .year-for-flex .year-wise-post4 .animation-resume .right-arrow i {
            font-size: 40px;
            padding: 0 10px; } }
        @media (max-width: 991px) {
          .resume-part .year-for-flex .year-wise-post4 .animation-resume .right-arrow i {
            padding: 15px;
            transform: rotate(90deg); } }
      .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company {
        border: 2px solid #4b3832;
        border-radius: 20px;
        outline: none;
        display: flex;
        align-items: center; }
        @media (max-width: 991px) {
          .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company {
            flex-direction: column; } }
        @media (max-width: 550px) {
          .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company {
            width: 80%;
            flex: 0 0 80%; } }
        .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .company-detail-yearwise {
          padding: 20px 13px;
          width: 40%;
          flex: 0 0 40%;
          margin: 0 auto; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .company-detail-yearwise {
              width: 38%;
              flex: 0 0 38%; } }
          @media (max-width: 991px) {
            .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .company-detail-yearwise {
              width: 100%;
              flex: 0 0 100%; } }
          .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .company-detail-yearwise img {
            background-color: rgba(190, 155, 123, 0.1); }
            @media (max-width: 1110px) {
              .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .company-detail-yearwise img {
                height: 100px;
                width: 140px; } }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .company-detail-yearwise img {
                width: 100%;
                height: auto; } }
        .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .logo-of-company {
          width: 60%;
          flex: 0 0 60%;
          margin: 0 auto; }
          @media (max-width: 1110px) {
            .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .logo-of-company {
              width: 62%;
              flex: 0 0 62%; } }
          @media (max-width: 991px) {
            .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .logo-of-company {
              width: 100%;
              flex: 0 0 100%; } }
          .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .logo-of-company h4 {
            font-size: 18px;
            padding: 10px 20px;
            text-align: center; }
            @media (max-width: 1110px) {
              .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .logo-of-company h4 {
                text-align: left; } }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .logo-of-company h4 {
                padding: 10px;
                font-size: 16px; } }
          .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .logo-of-company p {
            padding: 20px;
            color: #4b3832; }
            @media (max-width: 991px) {
              .resume-part .year-for-flex .year-wise-post4 .animation-resume .detail-of-company .logo-of-company p {
                padding: 10px; } }

.education {
  padding-bottom: 50px; }
  .education .education-heading {
    position: relative;
    text-align: center; }
    .education .education-heading h2 {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(190, 155, 123, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
      @media (max-width: 768px) {
        .education .education-heading h2 {
          display: none; } }
    .education .education-heading h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 50px; }
      @media (max-width: 650px) {
        .education .education-heading h3 {
          font-size: 40px;
          padding-bottom: 90px; } }
      @media (max-width: 550px) {
        .education .education-heading h3 {
          padding-top: 0; } }
  .education .education-table {
    padding-top: 90px;
    overflow-x: auto; }
    @media (max-width: 550px) {
      .education .education-table {
        padding-top: 0; } }
    .education .education-table table {
      width: 100%;
      border: 5px solid #4b3832;
      border-collapse: collapse; }
      .education .education-table table tr th {
        text-align: left;
        border: 5px solid #4b3832;
        border-collapse: collapse;
        padding: 10px;
        font-size: 30px; }
        @media (max-width: 550px) {
          .education .education-table table tr th {
            font-size: 18px; } }
      .education .education-table table tr td {
        border: 5px solid #4b3832;
        border-collapse: collapse;
        padding: 10px;
        font-size: 18px; }
        @media (max-width: 550px) {
          .education .education-table table tr td {
            font-size: 14px; } }

.service-part .service-text {
  position: relative;
  text-align: center;
  padding-bottom: 50px; }
  .service-part .service-text h2 {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(190, 155, 123, 0.1);
    z-index: -1;
    font-weight: 900;
    width: 100%; }
    @media (max-width: 768px) {
      .service-part .service-text h2 {
        display: none; } }
  .service-part .service-text h3 {
    font-size: 50px;
    font-weight: 700; }
    @media (max-width: 650px) {
      .service-part .service-text h3 {
        font-size: 40px; } }
  .service-part .service-text p {
    padding-top: 25px;
    color: #4b3832; }

.all-services {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    .all-services {
      flex-direction: column;
      padding-top: 100px; } }
  @media (max-width: 550px) {
    .all-services {
      padding-top: 0; } }
  .all-services .list-of-service {
    width: 23%;
    flex: 0 0 23%;
    margin: 0 auto;
    background: rgba(190, 155, 123, 0.1); }
    @media (max-width: 768px) {
      .all-services .list-of-service {
        width: 60%;
        flex: 0 0 60%;
        margin: 10px auto; } }
    .all-services .list-of-service:hover {
      background-color: #4b3832;
      border: 1px solid #ffbd39;
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.5s; }
    .all-services .list-of-service .logo-of-service img {
      width: auto;
      margin: 0 auto;
      padding-top: 30px; }
  .all-services .text-of-service h3 {
    padding-top: 40px;
    text-align: center; }
  .all-services .text-of-service .hr-lines {
    background-color: #4b3832;
    height: 1px;
    width: 30px;
    margin: 30px auto; }

.skill-part {
  padding-bottom: 50px; }
  .skill-part .skill-text {
    position: relative;
    text-align: center; }
    .skill-part .skill-text h2 {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 7vw;
      color: rgba(190, 155, 123, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
      @media (max-width: 768px) {
        .skill-part .skill-text h2 {
          display: none; } }
    .skill-part .skill-text h3 {
      font-size: 50px;
      font-weight: 700; }
      @media (max-width: 650px) {
        .skill-part .skill-text h3 {
          font-size: 40px; } }

.skill-slider {
  display: flex;
  justify-content: space-between; }
  .skill-slider .slide-to-show {
    width: 33%;
    flex: 0 0 33%;
    margin: 25px auto;
    padding: 20px 70px;
    outline: none; }
    @media (max-width: 991px) {
      .skill-slider .slide-to-show {
        padding: 20px 58px; } }
    .skill-slider .slide-to-show h3 {
      font-size: 26px;
      color: #4b3832;
      text-align: left; }
    .skill-slider .slide-to-show hr {
      width: 120px;
      margin-top: 20px;
      margin-left: 0;
      color: #4b3832; }
    .skill-slider .slide-to-show ul {
      text-align: left;
      padding: 0; }
      .skill-slider .slide-to-show ul li {
        list-style: none;
        position: relative;
        margin-bottom: 15px;
        padding-left: 45px; }
        .skill-slider .slide-to-show ul li:before {
          content: "\261E";
          position: absolute;
          left: 0;
          font-size: 30px;
          top: -11px;
          bottom: 0; }

button.slick-next.slick-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 999;
  font-size: 0;
  background-color: #be9b7b;
  border: none;
  border-radius: 50px;
  outline: none;
  height: 50px;
  width: 50px; }
  @media (max-width: 768px) {
    button.slick-next.slick-arrow {
      top: 35%; } }
  @media (max-width: 425px) {
    button.slick-next.slick-arrow {
      top: 30%; } }
  @media (max-width: 320px) {
    button.slick-next.slick-arrow {
      top: 13%; } }

button.slick-prev.slick-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 999;
  font-size: 0;
  background-color: #be9b7b;
  border: none;
  border-radius: 50px;
  outline: none;
  padding-top: 7px;
  padding-bottom: 15px;
  transform: rotate(180deg);
  height: 50px;
  width: 50px; }
  @media (max-width: 768px) {
    button.slick-prev.slick-arrow {
      top: 35%; } }
  @media (max-width: 425px) {
    button.slick-prev.slick-arrow {
      top: 30%; } }
  @media (max-width: 320px) {
    button.slick-prev.slick-arrow {
      top: 13%; } }

button.slick-next.slick-arrow:after {
  content: "\27A4";
  font-size: 24px;
  padding: 10px; }

button.slick-prev.slick-arrow:after {
  content: "\27A4";
  font-size: 24px;
  padding: 10px; }

.slick-slider {
  margin-top: 150px; }
  @media (max-width: 768px) {
    .slick-slider {
      margin-top: 100px; } }
  @media (max-width: 550px) {
    .slick-slider {
      margin-top: 50px; } }

@media (min-width: 769px) {
  .slick-active.slick-center {
    background-color: rgba(190, 155, 123, 0.1);
    transform: scale(1.1);
    transition: 0.5s;
    border: 1px solid #4b3832; } }
.project-part {
  padding-bottom: 50px; }
  .project-part .project-texts {
    position: relative;
    text-align: center; }
    .project-part .project-texts h2 {
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 7vw;
      color: rgba(190, 155, 123, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%; }
      @media (max-width: 768px) {
        .project-part .project-texts h2 {
          display: none; } }
    .project-part .project-texts h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 130px; }
      @media (max-width: 650px) {
        .project-part .project-texts h3 {
          font-size: 40px;
          padding-bottom: 90px; } }
  .project-part .project-side-by-side {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .project-part .project-side-by-side {
        flex-direction: column; } }
    .project-part .project-side-by-side .project-img-text {
      width: 50%;
      flex: 0 0 50%; }
      @media (max-width: 768px) {
        .project-part .project-side-by-side .project-img-text {
          width: 100%;
          flex: 0 0 100%; } }
      .project-part .project-side-by-side .project-img-text .project-img {
        margin: 10px;
        position: relative; }
        .project-part .project-side-by-side .project-img-text .project-img:hover .overlay-text,
        .project-part .project-side-by-side .project-img-text .project-img:hover .overlay {
          opacity: 0.9; }
        .project-part .project-side-by-side .project-img-text .project-img .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          opacity: 0;
          background: #be9b7b;
          z-index: 1;
          transition: 0.5s all; }
        .project-part .project-side-by-side .project-img-text .project-img .overlay-text {
          margin: 0 auto;
          z-index: 2;
          position: absolute;
          top: 45%;
          left: 25%;
          opacity: 0;
          transition: 0.5s all;
          color: #ffffff; }
          @media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
            .project-part .project-side-by-side .project-img-text .project-img .overlay-text {
              top: 42%;
              left: 20%; } }
          @media (max-width: 550px) {
            .project-part .project-side-by-side .project-img-text .project-img .overlay-text {
              top: 40%;
              left: 20%; } }
          @media (max-width: 320px) {
            .project-part .project-side-by-side .project-img-text .project-img .overlay-text {
              top: 35%;
              left: 10%; } }
          .project-part .project-side-by-side .project-img-text .project-img .overlay-text h4 {
            font-size: 30px;
            font-weight: 900;
            text-align: center; }
            @media (max-width: 550px) {
              .project-part .project-side-by-side .project-img-text .project-img .overlay-text h4 {
                font-size: 22px; } }
          .project-part .project-side-by-side .project-img-text .project-img .overlay-text p {
            font-size: 16px;
            font-weight: 500;
            text-align: center; }

ul.slick-dots {
  display: none !important; }

.contact-part .contact-text {
  position: relative;
  text-align: center; }
  .contact-part .contact-text h2 {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 7vw;
    color: rgba(190, 155, 123, 0.1);
    z-index: -1;
    font-weight: 900;
    width: 100%; }
    @media (max-width: 768px) {
      .contact-part .contact-text h2 {
        display: none; } }
  .contact-part .contact-text h3 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 200px; }
    @media (max-width: 650px) {
      .contact-part .contact-text h3 {
        font-size: 40px;
        padding-bottom: 100px; } }
    @media (max-width: 768px) {
      .contact-part .contact-text h3 {
        padding-bottom: 100px; } }
.contact-part .address-detail {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px; }
  @media (max-width: 650px) {
    .contact-part .address-detail {
      flex-direction: column; } }
  .contact-part .address-detail .address {
    width: 24%;
    flex: 0 0 24%;
    margin: 0 auto; }
    @media (max-width: 650px) {
      .contact-part .address-detail .address {
        width: 100%;
        flex: 0 0 100%;
        margin: 0 auto;
        display: flex; } }
    .contact-part .address-detail .address .address-icon {
      text-align: center;
      background-color: rgba(190, 155, 123, 0.1);
      border-radius: 100px;
      height: 100px;
      width: 100px;
      margin: 0 auto; }
      @media (max-width: 650px) {
        .contact-part .address-detail .address .address-icon {
          margin: 10px 20px; } }
      @media (max-width: 550px) {
        .contact-part .address-detail .address .address-icon {
          border-radius: 80px;
          height: 80px;
          width: 80px; } }
      .contact-part .address-detail .address .address-icon:hover {
        transform: rotate(360deg);
        transition: 0.5s; }
      .contact-part .address-detail .address .address-icon a i {
        font-size: 50px;
        color: #4b3832;
        padding-top: 25px; }
        @media (max-width: 550px) {
          .contact-part .address-detail .address .address-icon a i {
            font-size: 35px;
            padding-top: 22px; } }
      .contact-part .address-detail .address .address-icon a:hover {
        transform: rotate3d(); }
    .contact-part .address-detail .address .address-text h4 {
      font-size: 26px;
      text-align: center;
      font-weight: 700;
      padding-top: 50px; }
      @media (max-width: 650px) {
        .contact-part .address-detail .address .address-text h4 {
          font-size: 18px;
          padding-top: 35px;
          text-align: left; } }
      @media (max-width: 650px) {
        .contact-part .address-detail .address .address-text h4 {
          padding-top: 26px; } }
    .contact-part .address-detail .address .address-text p {
      font-size: 16px;
      text-align: center;
      padding-top: 10px;
      color: #999999; }
      @media (max-width: 650px) {
        .contact-part .address-detail .address .address-text p {
          font-size: 14px; } }

.footer-part .ftr-hr {
  background-color: #4b3832;
  height: 1px;
  width: 100%; }
.footer-part .ftr-text-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }
  @media (max-width: 550px) {
    .footer-part .ftr-text-media {
      flex-direction: column; } }
  .footer-part .ftr-text-media .social-media {
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    justify-content: space-evenly; }
    .footer-part .ftr-text-media .social-media a i {
      font-size: 25px;
      color: #4b3832; }
  .footer-part .ftr-text-media .ftr-note {
    width: 50%;
    flex: 0 0 50%; }
    .footer-part .ftr-text-media .ftr-note p {
      font-size: 12px;
      text-align: center; }
      @media (max-width: 550px) {
        .footer-part .ftr-text-media .ftr-note p {
          padding-top: 20px; } }

/*# sourceMappingURL=style.css.map */
