/* common css */
img {
  display: block;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #ffffff;
}

.container {
  max-width: 1340px;
  margin: auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// header csss

.menubar {
  display: inline-block;
  width: 100%;
  position: sticky;
  z-index: 99999;
  top: 0;
  background-color: black;

  .menu-item {
    list-style: none;
    float: right;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px 13px;
        transition: 0.6s ease-in;

        &:hover {
          color: #fdc11b;
          text-decoration: underline;
        }
      }
    }
  }
}

// main part css starts from here

// hero part css starts from here

.hero-part {
  padding-bottom: 50px;

  .author-detail {
    display: flex;
    justify-content: space-between;

    .hero-part-text {
      padding-top: 120px;
      padding-left: 120px;

      .welcome-text {
        p {
          color: #fdc11b;
        }
      }

      .Author-text {
        h1 {
          font-size: 70px;

          span {
            color: #fdc11b;
          }
        }
      }

      .about-author {
        h3 {
          font-size: 30px;
        }
      }

      .heropart-btn {
        padding-top: 50px;

        a {
          padding: 15px 15px;
          border: 1px solid white;
          border-radius: 50px;
          color: white;
          text-decoration: none;
          outline: none;
          transition: 0.6s ease-in;

          &:hover {
            background-color: #fdc11b;
            color: black;
          }
        }
      }
    }

    .author-img {

      // width: 350px;
      img {
        width: 350px;
      }
    }
  }
}

// css of about me part
.about-me-part {
  padding-bottom: 50px;

  .aboutme {
    display: flex;
    justify-content: space-between;

    .ravi-img {
      width: 50%;
      flex: 0 0 50%;
      margin: 0 auto;

      img {
        width: 350px;
      }
    }

    .ravi-detail {
      width: 50%;
      flex: 0 0 50%;
      margin: 0 auto;
      position: relative;

      h2 {
        position: absolute;
        font-size: 7vw;
        color: rgba(255, 255, 255, 0.1);
        z-index: -1;
        font-weight: 900;

        @media (max-width:1024) {
          display: none;
        }
      }

      h3 {
        font-size: 50px;
        font-weight: 700;
        padding-bottom: 40px;
      }

      .slogan-text {
        color: #999999;
        padding-bottom: 50px;
        font-size: 16px;
      }

      .about-ravi {
        display: flex;

        .property {
          width: 130px;
          height: 30px;
          font-weight: 700;
        }

        .value {
          color: #999999;
          font-size: 16px;
        }
      }

      .about-projects {
        .total-project {
          padding-top: 30px;
          font-weight: 700;
          font-size: 25px;

          .number {
            color: #fdc11b;
          }
        }
      }

      .download-resume {
        padding-top: 50px;

        a {
          text-decoration: none;
          color: white;
          padding: 15px 15px;
          border: 1px solid;
          border-radius: 50px;
          outline: none;
          transition: 0.5s ease-in;

          &:hover {
            background-color: #fdc11b;
            color: black;
          }
        }
      }
    }
  }
}


// css of resume part
.Resume-part {
  padding-bottom: 50px;

  .resume-text {
    text-align: center;
    position: relative;

    h2 {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%;
    }

    h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 150px;
    }

    .resume-content {
      padding-top: 30px;
      padding-bottom: 50px;
      color: #999999;
    }
  }

  .year-progress {
    display: flex;
    justify-content: space-between;

    .year-text {
      background: rgba(255, 255, 255, 0.1);
      width: 49%;
      flex: 0 0 49%;
      padding: 30px;
      margin-bottom: 25px;

      .year {
        font-weight: 900;
        font-size: 26px;
        color: #ffbd39;
        line-height: 46px;
      }

      .company-name {
        font-size: 26px;
        line-height: 40px;
      }

      .role {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 30px;
        color: #999999;
      }

      .about-roll {
        color: #999999;
        margin-top: 20px;
      }
    }
  }
}

// css of education part

.education {
  padding-bottom: 50px;

  .education-heading {
    position: relative;
    text-align: center;

    h2 {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%;
    }

    h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 50px;
    }
  }

  .education-table {
    padding-top: 90px;

    table {
      width: 100%;
      border: 5px solid #ffbd39;
      border-collapse: collapse;

      tr {
        th {
          text-align: left;
          border: 5px solid #ffbd39;
          border-collapse: collapse;
          padding: 10px;
          font-size: 30px;
        }

        td {
          border: 5px solid #ffbd39;
          border-collapse: collapse;
          padding: 10px;
          font-size: 18px;
        }
      }
    }
  }
}


// css of services part

.service-part {
  .service-text {
    position: relative;
    text-align: center;
    padding-bottom: 50px;

    h2 {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%;
    }

    h3 {
      font-size: 50px;
      font-weight: 700;
    }

    p {
      padding-top: 25px;
      color: #999999;
    }
  }
}

.all-services {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 50px;

  .list-of-service {
    width: 23%;
    flex: 0 0 23%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;

    &:hover {
      background-color: black;
      border: 1px solid #ffbd39;
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.5s;
    }

    .logo-of-service {
      img {
        width: auto;
        margin: 0 auto;
      }
    }
  }

  .text-of-service {
    h3 {
      padding-top: 40px;
      text-align: center;
    }

    hr {
      width: 30px;
      text-align: center;
    }
  }
}

// css of skills part

.skill-part {
  padding-bottom: 50px;

  .skill-text {
    position: relative;
    text-align: center;

    h2 {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%;
    }

    h3 {
      font-size: 50px;
      font-weight: 700;
    }
  }
}

.skill-slider {
  display: flex;
  justify-content: space-between;

  .slide-to-show {
    width: 33%;
    flex: 0 0 33%;
    margin: 25px auto;
    padding: 20px 70px;

    h3 {
      font-size: 26px;
      color: #ffbd39;
      text-align: left;
    }

    hr {
      width: 120px;
      margin-top: 20px;
      margin-left: 0;
    }

    ul {
      text-align: left;
      padding: 0;

      li {
        list-style: none;
        position: relative;
        margin-bottom: 15px;
        padding-left: 45px;

        &:before {
          content: '\261E';
          position: absolute;
          left: 0;
          font-size: 30px;
          top: -11px;
          bottom: 0;
        }
      }
    }
  }
}

// other css of slick button

button.slick-next.slick-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 999;
  font-size: 0;
  background-color: #ffbd39;
  border: none;
  border-radius: 50px;
  outline: none;
  height: 50px;
  width: 50px;
}

button.slick-prev.slick-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 999;
  font-size: 0;
  background-color: #ffbd39;
  border: none;
  border-radius: 50px;
  outline: none;
  padding-top: 7px;
  padding-bottom: 15px;
  transform: rotate(180deg);
  height: 50px;
  width: 50px;
}

button.slick-next.slick-arrow:after {
  content: '\27A4';
  font-size: 24px;
}

button.slick-prev.slick-arrow:after {
  content: '\27A4';
  font-size: 24px;
}

.slick-slider {
  margin-top: 150px;
}

.slick-active.slick-center {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  transition: 0.5s;
  border: 1px solid #ffbd39;
}

// css of project-part

.project-part {
  padding-bottom: 50px;

  .project-text {
    position: relative;
    text-align: center;

    h2 {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%;
    }

    h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 200px;
    }
  }

  .project-detail {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;

    .project-img {
      background-image: url(../Image/p1.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 49%;
      flex: 0 0 49%;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #ffbd39;
        z-index: -1;
        transition: 0.3s;
      }

      .overlay-text {
        max-width: 80%;
        padding: 130px;
        margin: 0 auto;
        z-index: 1;
        opacity: 0;

        h4 {
          font-size: 30px;
          font-weight: 900;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }
      }

      &:hover {

        .overlay {
          opacity: 0.9;
          z-index: 1;
          cursor: pointer;
        }

        .overlay-text {
          opacity: 0.9;
          position: absolute;
          opacity: 0.9;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
        }

      }

    }

    .project-img1 {
      background-image: url(../Image/p2.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 49%;
      flex: 0 0 49%;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #ffbd39;
        z-index: -1;
        transition: all 0.3s ease;
      }

      .overlay-text {
        max-width: 80%;
        padding: 130px;
        margin: 0 auto;
        z-index: 1;
        opacity: 0;

        h4 {
          font-size: 30px;
          font-weight: 900;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }
      }

      &:hover {

        .overlay {
          opacity: 0.9;
          z-index: 1;
          cursor: pointer;
        }

        .overlay-text {
          opacity: 0.9;
          position: absolute;
          opacity: 0.9;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
        }

      }
    }

    .project-img2 {
      background-image: url(../Image/p3.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 49%;
      flex: 0 0 49%;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #ffbd39;
        z-index: -1;
        transition: all 0.3s ease;
      }

      .overlay-text {
        max-width: 80%;
        padding: 130px;
        margin: 0 auto;
        z-index: 1;
        opacity: 0;

        h4 {
          font-size: 30px;
          font-weight: 900;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }
      }

      &:hover {

        .overlay {
          opacity: 0.9;
          z-index: 1;
          cursor: pointer;
        }

        .overlay-text {
          opacity: 0.9;
          position: absolute;
          opacity: 0.9;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
        }

      }
    }

    .project-img3 {
      background-image: url(../Image/p4.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 49%;
      flex: 0 0 49%;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        background: #ffbd39;
        z-index: -1;
        transition: all 0.3s ease;
      }

      .overlay-text {
        max-width: 80%;
        padding: 130px;
        margin: 0 auto;
        z-index: 1;
        opacity: 0;

        h4 {
          font-size: 30px;
          font-weight: 900;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }
      }

      &:hover {

        .overlay {
          opacity: 0.9;
          z-index: 1;
          cursor: pointer;
        }

        .overlay-text {
          opacity: 0.9;
          position: absolute;
          opacity: 0.9;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding: 0;
        }
      }
    }
  }
}

// css of contact part

.contact-part {
  .contact-text {
    position: relative;
    text-align: center;

    h2 {
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900;
      width: 100%;
    }

    h3 {
      font-size: 50px;
      font-weight: 700;
      padding-bottom: 110px;
    }
  }

  .address-detail {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;

    .address {
      width: 24%;
      flex: 0 0 24%;
      margin: 0 auto;

      .address-icon {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 100px;
        height: 100px;
        width: 100px;
        margin: 0 auto;

        &:hover {
          transform: rotate(360deg);
          transition: 0.5s;
        }

        a {
          i {
            font-size: 50px;
            color: #ffbd39;
            padding-top: 25px;
          }

          &:hover {
            transform: rotate3d();
          }
        }
      }

      .address-text {
        h4 {
          font-size: 26px;
          text-align: center;
          font-weight: 700;
          padding-top: 50px;
        }

        p {
          font-size: 16px;
          text-align: center;
          padding-top: 10px;
          color: #999999;
        }
      }
    }
  }
}

// css of footer

.footer-part {
  .ftr-text-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .social-media {
      width: 50%;
      flex: 0 0 50%;
      display: flex;
      justify-content: space-evenly;

      a {
        i {
          font-size: 25px;
          color: #ffbd39;
        }
      }
    }

    .ftr-note {
      width: 50%;
      flex: 0 0 50%;

      p {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}